@using PresentationLayer.Models;
@using DataLayer.Enums;



@model List<ProjectViewModel>
@{
    ViewData["Title"] = "Home Page";
}

<hr />

<content>
    <div class="row">
        <div class="col-md-12">
     
            <ul class="list-group">
                @foreach (var item in Model)
                {
                    <li class="list-group-item">
                        <h2>
                            <a asp-action="Index" asp-controller="Page" asp-route-pageId="@item.Project.Id" asp-route-pageType="@PageEnums.PageType.Project">@item.Project.Name @item.Project.DatesProject</a>
                            <a class="edit" asp-action="PageEditor" asp-controller="Page" asp-route-pageId="@item.Project.Id" asp-route-pageType="@PageEnums.PageType.Project"> edit </a>
                        </h2>
                        <ul class="list-group">
                            @if (item.Workers != null)
                            {
                                foreach (var subItem in item.Workers)
                                {
                                    <li class="list-group-item">
                                        <a asp-action="Index" asp-controller="Page" asp-route-pageId="@subItem.Worker.Id" asp-route-pageType="@PageEnums.PageType.Worker">@subItem.Worker.Name @subItem.Worker.SurName</a>
                                        <a class="edit" asp-action="PageEditor" asp-controller="Page" asp-route-pageId="@subItem.Worker.Id" asp-route-directoryid="@item.Project.Id" asp-route-pageType="@PageEnums.PageType.Worker"> edit </a>
                                    </li>
                                }

                                <div class="create_button">
                                    <a asp-action="PageEditor" asp-controller="Page" asp-route-pageId="0" asp-route-projectid="@item.Project.Id" asp-route-pageType="@PageEnums.PageType.Worker"> Create Worker's</a>
                                </div>
                            }
                        </ul>
                    </li>

                    <p />
                }

                <div class="create_button">
                    <a asp-action="PageEditor" asp-controller="Page" asp-route-pageId="0" asp-route-pageType="@PageEnums.PageType.Project"> Create Project</a>
                </div>

            </ul>
        </div>
    </div>
</content>